# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / JS
node_modules
dist
dist-ssr
*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.pdb
*.pkl
*.pickle
*.pt        # PyTorch models
*.h5        # Keras models

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python build artifacts
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# (https://www.pyinstaller.org/)
# Usually these files are generated during PyInstaller builds.
*.spec

# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints

# VS Code & Editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest-debug.log
.coverage.*
nosetests.xml
coverage.xml

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Env files
*.env
*.env.*
.env.production
.env.development
.env.local

